@import 'reset';
@import 'variables/globals';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/blue';


body {
  color: var(--primary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
}


.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: 100%;
}