.app_blue_theme {
  --bg-color: #5e69ee;
  --inverted-bg-color: #F4F4FB;
  --primary-color: #5e69ee;
  --secondary-color: #F4F4FB;
  --inverted-primary-color: #F4F4FB;
  --inverted-secondary-color: #5e69ee;
}